<section class="blog-feed">
  {% for post in site.posts | limit: 6 %}
    <a class="post-link" href="{{ post.url }}">
      <div class="post-link-content">
        <h3 class="post-title">{{ post.title }}</h3>
        <img src="{{ site.baseurl }}{{ post.image }}" class="img-responsive">
        <p class="body">{{ post.description }} {{ post.content | strip_html | remove: post.title | truncatewords: 50 }}</p>
        <p class="read-more">Keep Reading <i class="fa fa-chevron-right"></i></p>
      </div>
    </a>
  {% endfor %}
  {% if site.posts.size > 6 %}
    <div class="pagination">
      <a class="view-all" href="/blog/">View All Blog Posts <i class="fa fa-chevron-right"></i></a>
    </div>
  {% endif %}
</section>
