<section class="blog-feed">
  <p class="blog-feed-title">Latest Blog Posts:</p>

  <div class="batch-g batch-g--padding">
    {% for post in site.posts | limit: 6 %}
      <a class="post-link batch-c-1-1 batch-c-md-1-2 " href="{{ post.url }}">
        <div class="panel">
          <div class="panel-image" style="background-image: url('{{ site.baseurl }}{{ post.image }}')">
            <div class="panel-image-overlay">
              <p class="content">{{ post.description }}</p>
            </div>
          </div>
          <div class="panel-heading">
            <h4 class="post-title">{{ post.title }}</h4> - <time class="date">{{ post.date | date: "%D" }}</time>
          </div>
          <!-- <p class="category-tag category-tag-{{ post.categories.first }}">{{ post.categories.first }}</p> -->
        </div>
      </a>
    {% endfor %}
  </div>

  {% if site.posts.size > 6 %}
    <div class="pagination">
      <a class="view-all" href="/blog/">View All Blog Posts <i class="fa fa-chevron-right"></i></a>
    </div>
  {% endif %}

</section>
